html{
    padding: 30px;
    background-color: dimgray;
}

#header-superior{
    background-color: aquamarine;
}

#ap-icon{
    /* Especifica la altura */
    height: 100px;
    margin-left: 40px;}
    
    #linkedin-icon{
        /* Especifica la altura */
       
        height: 40px;
    }

    #red-social{
        float: right;
        margin-top: 30px;
        margin-right: 40px;
    }

#github-icon{
    height: 40px; 
}

#banner{
    /* Especifica la anchura */
    width: 100%;
    height: 200px;
}

#foto-perfil{
    /* Especifica la anchura */
    width: 150px;
    height: 150px;
    display:block;
    margin:auto;
}

.row{
    padding: 40px;
}

#nombre-apellido{
    font-weight:bold;
    margin-top:25px;
}

